#area_content_content_grid_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
	justify-content: center;
}

.area_content_content_grid_item {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 10px;
}

.area_content_content_grid_item_image {
	display: flex;
	flex: 1;
	width: auto;
	height: auto;
	object-fit: cover;
	background-color: #2F2F2F;
}

.area_content_content_grid_item_track_info_container {
	display: flex;
	flex: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 10px;
}

.area_content_content_grid_item_track_title_and_artist_container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
}

.area_content_content_grid_item_track_title {
	margin: 0;
	font-size: 1.0rem;
}

.area_content_content_grid_item_artist_name {
	margin: 0;
	margin-top: 3px;
	font-size: 0.7rem;
}

.area_content_content_grid_item_image_container {
	display: inline-flex;
	position: relative;
}

.area_content_content_grid_item_image_container img {
	display: block;
}

.area_content_content_grid_item_image_container .icon_area_content_content_grid_item_hover_play {
	position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  font-size: 40px;
	color: mediumseagreen;
}

.area_content_content_grid_item_hover_play_container {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .3s ease;
}

.area_content_content_grid_item_image_container:hover .area_content_content_grid_item_hover_play_container {
	opacity: 1;
}