body {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	font-family: monospace;
	background: #202020;
	color: #b3b9c5;
}

#area_top_bar {
	display: flex;
	flex: 0;
	flex-direction: row;
	padding-left: 10px;
	padding-right: 10px;
	align-items: baseline;
	box-shadow: 0 0 5px #202020, 0 2px 5px #101010;
}

#area_top_bar_title {
	font-size: 1.2rem;
	color: mediumseagreen;
}

#area_top_bar_search {
	display: flex;
	flex: 1;
	margin-left: 10px;
	background: #202020;
	color: #b3b9c5;
	border-color: #b3b9c5;
	border-width: 1px;
	font-size: 1.2rem;
	padding: 8px;
}

#area_content {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: mediumseagreen #202020;
}

#area_bottom_play_menu {
	display: flex;
	flex: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center; 
	padding: 10px;
	box-shadow: 0 0 5px #202020, 0 -2px 5px #101010;
}

#area_bottom_play_menu_track_information {
	display: flex;
	flex: 1;
	flex-direction: column;
}

#area_bottom_play_menu_track_information_song_name {
	font-size: 1.0rem;
	margin: 0;
	margin-bottom: 3px;
}

#area_bottom_play_menu_track_information_artist_name {
	font-size: 0.7rem;
	margin: 0;
	margin-top: 3px;
}

#area_bottom_play_menu_playback_buttons {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#area_bottom_play_menu_previous_track_button {
	padding: 10px;
}

#icon_bottom_play_menu_previous_track_button {
	font-size: 20px;
	color: mediumseagreen;
}

#area_bottom_play_menu_play_track_button {
	padding: 10px;
}

#icon_bottom_play_menu_play_track_button {
	font-size: 40px;
	color: mediumseagreen;
}

#area_bottom_play_menu_pause_track_button {
	padding: 10px;
}

#icon_bottom_play_menu_pause_track_button {
	font-size: 40px;
	color: mediumseagreen;
}

#area_bottom_play_menu_next_track_button {
	padding: 10px;
}

#icon_bottom_play_menu_next_track_button {
	font-size: 20px;
	color: mediumseagreen;
}

#area_bottom_play_menu_track_queue_button_container {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: end;
	padding: 10px;
}

#icon_bottom_play_menu_track_queue_button {
	display: none;
	font-size: 25px;
	color: mediumseagreen;
}